*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

.header {
    max-width: 100%;
    padding: 1rem 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .title {
    color: green;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
}

.nav-items > ul {
    display: flex;
    gap: 1rem;
    text-align: center;
}

.nav-items > ul > li {
    font-size: 1.3rem;
    color: black;
}

.nav-items ul li .list-item {
    color: black;
}

.restauranlist {
    padding: 1rem 11rem;
    display: flex;
    gap:  2rem 1rem;
    flex-wrap: wrap;
}

.card {
    width: 280px;
}

.card > img {
    width: 100%;
}